* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}


.sn-pro {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000px;
    font-style: bold;
}

.container {
    background-color: white;

    .navbar {
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
        border: 15px solid white;
        border-bottom: 2px solid rgb(235, 230, 230);
        padding-bottom: 15px;
        font-style: bold;
        font-weight: 600px;

        button {
            text-decoration: none;
            color: rgb(0, 0, 0);
            background-color: white;
            border: 0px solid white;
            font-size: 15px;
            padding-left: 20px;

        }

        #home {
            margin-left: 500px;
        }

        a {
            width: 20px;
            height: 20px;

            display: flex;
            align-items: center;
            justify-content: center;
            font-style: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            background-color: rgb(99, 97, 97);
            border: 1px solid grey;
            border-radius: 4px;
            font-weight: 900;

            color: white;
            text-decoration: none;

            margin-left: 10px;
        }



        #insta {
            margin-left: 450px;
        }
    }


    .title {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 30px;


        img {
            margin-left: 550px;
            width: 60px;
            height: auto;
        }

        h1 {
            color: #052465;

            font-weight: 900px;
            font-family: "SN Pro", sans-serif;


        }
    }

    .page {
        font-family: sans-serif;
        border: 15px solid white;
        border-bottom: 3px solid rgb(223, 219, 219);
        padding: 20px 0;
        

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
            font-size: 15px;
            margin-right: 50px;
            padding-bottom: 20px;
            margin-top: 20px;
        }

        #Featured {
            margin-left: 400px;
        }
    }



    .items {
        background-color: rgb(231, 227, 227);
        border-radius: 7px;
        margin-left: 400px;
        
        width: 400px;

        .image {
            img {
                width: 100%;
                height: 100%;
            }
        }


        .fooddes {
            width: 100%;
            height: 1px;
            background-color: rgb(230, 44, 75);

        }

    .foodcon{
        padding:10px;
        h2 {
            font-size: 25px;
            color: rgb(27, 9, 110);
            text-transform: capitalize;
            font-family: "SN Pro", sans-serif;
            text-align: left;
            width: 100%;

        }

        p {
            color: rgb(139, 134, 134);
            text-align: justify;
            font-family: "SN Pro", sans-serif;
            font-size: 14px;
            text-decoration: none;
            font-style: normal;
            width: 100%;
        }

        a {
            color: rgb(235, 41, 79);
            text-transform: capitalize;
            text-decoration: none;

        }
    }
    }

    

   .date{
    padding-bottom: 10px;
     h5 {
        margin-top: 0px;
        color: rgb(172, 163, 163);
        font-family: "SN Pro", sans-serif;
        list-style: disc;
    }

    .dot {
        margin: 0 8px;
    }
   }
}

.footer {

    border: 1px solid #052465;
    background-color: #052465;

    h2 {
        color: white;
        font-size: 18px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 56px;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: rgb(247, 243, 244);
    }

    img {
        max-width: 85px;
        margin-left: 660px;

    }

    .links {
        display: flex;

        justify-content: center;
        gap: 10px;

        margin-top: 20px;

        a {
            width: 32px;
            height: 32px;
            background-color: #cfc8c8;
            border-radius: 4px;

            display: flex;
            align-items: center;
            justify-content: center;

            text-decoration: none;
            color: black;
        }

        #inst {
            margin-left: 50px;
        }

    }

}